<div class="contain-to-grid">
    <nav class="top-bar" data-topbar>

        <ul class="title-area">
            <li class="name"><a href="/"><img src="/img/vatapi-logo200.png"/></a></li>

            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="/about/">About</a></li>
                <li><a href="/api/">API</a></li>
                <li><a href="/pricing/">Pricing</a></li>
                <li><a href="/blog/">Blog</a></li>

            </ul>
            <ul class="right">
                <li><a id="signupMenu" href="/signup/">Sign up</a></li>
                <li><a id="loginMenu" href="/login/">Login</a></li>
            </ul>
        </section>
    </nav>
</div>